<div class="parent-div">

  <div class="card flex justify-content-center">
    <p-dropdown [options]="keralaDistricts" (onClick)="selectADistrict()" [(ngModel)]="selectedDistrict" placeholder="select a district" optionLabel="name"></p-dropdown>
  </div> 

  <div>
    <p-card [header]="weatherDetail?.name">
      <div class="imgDiv">
        <img
          style="height: 100px; width: 100px"
          src="http://openweathermap.org/img/w/{{
            weatherDetail.weather[0].icon
          }}.png"
        />
      </div>
      <h5>{{weatherDetail?.weather[0].description}}</h5>
      <div class="listDiv">
        <div class="listClass">
          <li>Humidity

            <label>{{ weatherDetail.main.humidity }}</label>
          </li>
        </div>
        <div class="listClass">
          <li>Pressure

            <label>{{ weatherDetail.main.pressure }}</label>
          </li>
        </div>
        <div class="listClass">
          <li>Max Temperature
            <label>{{ weatherDetail.main.temp_max }}</label>
          </li>
        </div>
        <div class="listClass">
          <li>Mix Temperature
            <label>{{ weatherDetail.main.temp_min }}</label>
          </li>
        </div>
      </div>
  </p-card>
  </div>
</div>